html{
    overflow-x: hidden;
    min-height: 100%;
}

body{
    min-height: 100%;
    background-color: #F0F0F0;
}

h3
{
	text-align: center;
}

.langues
{
	margin-left: 5px;
}

.imgdrapeaux
{
	height:20px;
	width:auto;
}

.intro
{
	text-align: justify;
}

