html{
    overflow-x: hidden;
    min-height: 100%;
}

body{
    min-height: 100%;
    background-color: #F0F0F0;
}

/******************************\
              MENU
\******************************/

.nav-menu{
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: #fff;
    transform: translateX(200px);
    transition-duration: 0.5s;
}

.nav-menu h4{
    padding-left: 5px;
}

.nav-menu a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    color: #FF3500;
}

.nav-menu a:hover{
    cursor: pointer;
    background-color: #ccc;
}

/******************************\
              CACHE
\******************************/

.site-cache{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.6;
    transition-duration: 0.5s;
}

h3
{
	text-align: center;
}

.langues
{
	margin-left: 5px;
}

.imgdrapeaux
{
	height:20px;
	width:auto;
}

p
{
	text-align: justify;
}

.fusionner
{
	float: left;
	margin: 5px;
}