<h3> {{choixCyrano}} </h3>
<div class="row">
        <div class="input-field col offset-l2 l8 offset-m1 m10 offset-s2 s8">
            <img src="./medias/choixCyrano.png" alt="Cyrano" id="imgAvatar" class="imgAvatar fusionner responsive-img" />
        </div>
</div>

<div class="row">
        <div class="input-field col offset-l2 l8 offset-m1 m10 offset-s1 s10">
            <ul>
                <li>{{qualiteC}}</li>
                <li>{{defautC}}</li>
                <li>{{physiqueC}}</li>
                <li>{{metier}}</li>
            </ul>
        </div>
</div>

<div class="row">
    <div class="input-field col offset-l2 l3 offset-m2 m3 offset-s1 s4">
        <a href="#/choixAvatar" class="btn">{{retour}}</a>
    </div>
    <div class="input-field col offset-l2 l3 offset-m2 m3 offset-s2 s4">
        <a href="#/explicationJeu" ng-click="setAvatar('Cyrano')" class="btn">{{suivant}}</a>
    </div>
</div>

