<article ng-controller="TextController">
    <h3> {{choixAvatar}} </h3>
    <div class="row">
        <div class="input-field col offset-l2 l4 offset-m1 m3 offset-s1 s2">
            <img src="./../medias/choixRoxane.png" alt="Roxanne" id="imgAvatar" class="imgAvatar" />
        </div>
        <div class="input-field col offset-l2 l4 offset-m4 m2 offset-s1 s2">
            <img src="./../medias/choixCyrano.png" alt="Cyrano" id="imgAvatar" class="imgAvatar"/>
        </div>
    </div>
    <div class="row">
        <div class="input-field col offset-l2 l3 offset-m2 m3 offset-s2 s3">
            <a href="tache02-1.php" class="btn">Roxanne</a>
        </div>
        <div class="input-field col offset-l3 l3 offset-m2 m3 offset-s2 s3">
            <a href="tache02-2.php" class="btn">Cyrano</a>
        </div>
    </div>
</article>
