<h3> {{choixRoxanne}} </h3>
<div class="row">
    <div class="input-field col offset-l2 l8 offset-m1 m10 offset-s1 s10">
        <img src="./medias/choixRoxane.png" alt="Roxanne" id="imgAvatar" class="imgAvatar fusionner responsive-img" />
        <ul>
            <li>{{qualiteR}}</li>
            <li>{{defautR}}</li>
            <li>{{physiqueR}}</li>
        </ul>
    </div>
    <div class="row">
        <div class="input-field col offset-l2 l3 offset-m2 m3 offset-s1 s4">
            <a href="#/choixAvatar" class="btn">{{retour}}</a>
        </div>
        <div class="input-field col offset-l2 l3 offset-m2 m3 offset-s2 s4">
            <a href="#/explicationJeu" ng-click="setAvatar('Roxanne')" class="btn">{{suivant}}</a>
        </div>
    </div>
</div>

