<article ng-controller="TextController">
    <h3> {{choixCyrano}} </h3>
    <div class="row">
                <div class="input-field col offset-l2 l8 offset-m1 m10 offset-s1 s10">
                    <img src="./../medias/choixCyrano.png" alt="Cyrano" id="imgAvatar" class="imgAvatar fusionner" />
                    <ul>
                        <li>{{QualiteC}}</li>
                        <li>{{DéfautC}}</li>
                        <li>{{PhysiqueC}}</li>
                        <li>{{Metier}}</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="input-field col offset-l3 l4 offset-m2 m3 offset-s2 s3">
                    <a href="tache02.html" class="btn">{{Retour}}</a>
                </div>
                <div class="input-field col offset-l1 l4 offset-m2 m3 offset-s2 s3">
                    <a href="tache03.html" class="btn">{{Suivant}}</a>
                </div>
            </div>
</article>
