<h3> {{explication}} </h3>
<div class="row">
	<div class="input-field col offset-l3 l6 offset-m3 m6 offset-s3 s6">
	    <video class="responsive-video" autoplay="true" width="600" height="300">
	        <source src="./medias/videos/1e_reExplicationJeux.mp4" type="video/mp4">
	    </video>
    </div>
</div>
    <br/>
<div class="row">
	<div class="input-field">
	    <a href="#/introduction" class="btn col offset-l5 l2 offset-m5 m2 offset-s3 s6"> {{passerExplication}} </a>
    </div>
</div>

