<h3>{{jardin}} - {{place}}</h3>
<h4>{{question['titre']}}</h4>
<h5>{{question['question']}}</h5>

<p>Ceci est une question de type puzzle, ce type de question n'a pas encore été implémenté</p>
<br/>
<a ng-if="nextId!=nbQuestions" ng-show="win" href="#/{{nextQuestion['type']}}/jardin/{{place}}/{{nextId}}" class="waves-effect waves-light btn">Passer à la question suivante</a>
<a ng-if="nextId==nbQuestions" ng-show="win" href="#/{{nextQuestion['type']}}/jardin/{{nextPlace}}/0" class="waves-effect waves-light btn">Passer à la question suivante</a>
