<h3>{{jardin}} - {{place}}</h3>
<h4>{{question['titre']}}</h4>
<h5>{{question['question']}}</h5>
<img ng-if="imageReponse!=undefined" class="responsive-img materialboxed" width="300" height="200" ng-src="{{imageReponse['url']}}" alt="image reponse"/>
<timer ng-if="viewResponse" class="right timer" interval="1000" countdown="10">{{countdown}}</timer>

<a class="waves-effect waves-light btn" ng-click="viewResponse = true" ng-show="!viewResponse">Voir les réponses</a>

<form ng-if="viewResponse">
    <div ng-repeat="n in responses track by $index">
        <input ng-change="test(response)" value="{{n}}" ng-model="response" type="radio" name="choix" id="{{n}}"/> <label for="{{n}}">{{n}}</label>
    </div>
</form>

<div ng-show="win">
    Bravo !
</div>

<div ng-show="timerStop && !win">
    Le temps est écoulé !
</div>
<a ng-if="nextId!=nbQuestions" ng-show="win||timerStop" href="#/{{nextQuestion['type']}}/jardin/{{place}}/{{nextId}}" class="waves-effect waves-light btn">Passer à la question suivante</a>
<a ng-if="nextId==nbQuestions" ng-show="win||timerStop" href="#/{{nextQuestion['type']}}/jardin/{{nextPlace}}/0" class="waves-effect waves-light btn">Passer à la question suivante</a>
