<div class="module" ng-gsap>
    <ul class="menu">
        <li><span class="settings"></span>Paramètres</li>
        <li><span class="messages"></span>Messages</li>
        <li class="active" ng-mouseenter="play()" ng-mouseleave="reverse()"><span class="users"></span>Survole Moi !</li>
    </ul>
    <div class="hover" ng-style="{height: 0}">
        <img src="css/img/singe.jpg" alt="" width="399" height="183">
        <ul class="stats">
            <li><strong>250</strong> Followers</li>
            <li><strong>63</strong>Photos</li>
            <li><strong>728</strong>Likes</li>
        </ul>
        <div class="profile">
            <h2>Vladimir Klunapov</h2>
            <p>Un texte long avec plein de lettre relou a animer avec jQuery</p>
        </div>
    </div>
</div>