<!-- ********* NAVIGATION PRINCIPALE ********* -->
<nav>
    <div class="nav-wrapper">
        <div class="col l12 m12 s12">
            <ul id="nav-mobile" class="left">
                <li><a id="btnMenu" href="#"><i class="mdi-navigation-menu"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- ********* FIN NAVIGATION PRINCIPALE ********* -->

<!-- ********* MENU ********* -->
<div id="nav-menu" class="nav-menu">
    <ul>
        <li id="choixParcours"><a href="./#">Choix parcours</a></li>
        <li id="choixAvatar"><a href="./connexion.html">Choix avatar</a></li>
        <li id="voirParcours"><a href="./profil.html">Voir le parcours (Map)</a></li>
        <li id="aideAvatar"><a href="./index.html">Besoin d'aide (Avatar)</a></li>
        <li id="changerLangue"><a href="#">Changer de langue</a></li>
    </ul>
</div>
<!-- ********* FIN MENU ********* -->

<script type="text/javascript">
    $(document).ready(function()
    {
        $(".btnMenu").dropdown();
    });
</script>